{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block linkcss %}
<style>
  body {
    overflow-x: hidden;
    background-color: rgb(75, 9, 77);
    color: white;
  }
  #mainForm {
    font-family: cursive;
    border-radius: 10px;
    align-items: center;
    position: absolute;
    margin-left: 200px;
    padding-top:30px;
  } 

  #mainFormContainer {
    display: flex;
    justify-content: center;
  }
</style>
{% endblock %}

{% block content %}
<div id="mainFormContainer">

  <div id="mainForm" class="container">
    <h3 style="margin-left: 220px ; color: coral; padding-bottom: 20px;">Write Your Blog Here</h3>
    <form method="POST" action="/blog/writeblog/" style="max-width:840px">
      {% csrf_token %}
      {% bootstrap_form form %}
      {{form.media}}
      <input type="hidden" name="author" id="author" value="{{user.username}}">
      <button type="submit" class="btn-sm btn-light">Submit</button>
    </form>
  </div>
</div>



{% endblock %}

{% block linkjs %}
{% endblock %}