{% extends "base.html" %}

 {% block linkcss%}

{% load static%}
<link rel="stylesheet" href="{%static 'css/contactus.css'%}">
{%endblock%} 

{%load bootstrap4%}
{%block content%}

<div class="container my-3" style="max-width: 800px;">
<div class="background">
  <div class="container">
    <div class="screen">
      <div class="screen-body">
        <div class="screen-body-item left">
          <div class="app-title">
            <span>CONTACT US</span>
          </div>
          <div class="screen-body-item">
          <div class="app-form">
                <div class="container my-3" style="max-width: 800px;">
                    <form method="POST" action="/accounts/contactus/">
                      {% csrf_token %}
                      {% if user.is_authenticated %}
                        <div class="mb-3">
                          <label for="Username" class="form-label">UserName</label>
                          <input type="text" value= "{{user.username}}"class="form-control" disabled = 'true' id="Username" name="Username" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                          <label for="email" class="form-label">Email</label>
                          <input type="email" value ="{{user.email}}"name="mailid" class="form-control" id="email" disabled = 'true'>
                          <small>&nbsp;&nbsp;&nbsp;If You want to change your Email Then <a href="#">Edit Your Profile</a></small>
                        </div>
                        {% else %}
                        <div class="mb-3">
                          <label for="Username" class="form-label">UserName</label>
                          <input type="text" class="form-control" id="Username" name="Username" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                          <label for="email" class="form-label">Email</label>
                          <input type="email" name="mailid" class="form-control" id="email">
                        </div>
                      {% endif %}

                        <div class="mb-3">
                          <label for="phoneNo" class="form-label">Contact No</label>
                          <input type="text" name="phoneNo"class="form-control" id="phoneNo" placeholder="Enter Your Working Contact no">
                        </div>
                        <div class="mb-3">
                          <label for="issue" class="form-label">Describe Your Issue:</label>

                          <textarea name="issue" placeholder="Describe Your Issue or Suggestions in Detail" class="form-control" id="issue" cols="30" rows="2"></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                    </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</div>
{%endblock%}
