{% extends "base.html" %}
{%load bootstrap4%}
{%block content%}
<div class="container">
    <h1><strong>Welcome</strong>  {{user.username}}</h1>
    <!--<img class="profile-image"src="{{request.user.profile.image.url}}" alt="">-->
    <h3>User Details:</h3>
       <p>First Name:  {{user.first_name}}</br></br>
        Last Name:  {{user.last_name}}
       </p> 
    <h1>{{user.email}}</h1>
    <a href="{% url 'accounts:edit_profile'%}"> <button  class="btn btn-success">Edit Profile</button></a>

    <a href="{% url 'accounts:logout'%}"> <button  class="btn btn-success">Logout</button></a>
{%endblock%}