{%extends "base.html" %}
{%block linkcss%}

<style>
	body{
		overflow-y: hidden;
	}
    #resetForm{
        align-items: center;
        position: absolute;
        font-family:cursive
        
    }
    #resetContainer{
        display: flex;
        justify-content: center;
		padding-top: 150px;

    }
    .bootstrap-select>.dropdown-toggle{
        width: 200%;
    }
    .show{
        width:600px
    }
</style>
{%endblock%}
{%block content%}
<div id="resetContainer" style="overflow-y: hidden;">

    <div class="container p-5 my-3" id="resetForm"
    style="max-width:700px; border: 2px solid rgb(224 211 211); border-radius:20px">
<h3>Password reset</h3>

<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>

<form method="post">

	{% csrf_token %}
	{%load bootstrap4%}
	{%bootstrap_form form%}

	<input class="btn btn-light"  type="Submit" name="Send email">
	
</form>
</div>
</div>
{% endblock %}
