{%extends "base.html" %}
{%block linkcss%}

<style>
	body{
		overflow-y: hidden;
	}
    #resetForm{
        align-items: center;
        position: absolute;
        font-family:cursive
        
    }
    #resetContainer{
        display: flex;
        justify-content: center;
		padding-top: 20px;

    }
    .bootstrap-select>.dropdown-toggle{
        width: 200%;
    }
    .show{
        width:600px
    }
</style>
{%endblock%}
{%block content%}
<div id="resetContainer" style="overflow-y: hidden;">

    <div class="container p-5 my-3" id="resetForm"
    style="max-width:700px; border: 2px solid rgb(224 211 211); border-radius:20px">

<h3>Enter new password</h3>

<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

<form method="post">
	{% csrf_token %}
	{%load bootstrap4%}
	{%bootstrap_form form%}

	<input type="Submit" name="Update Password">
	
</form>
</div>
</div>
{% endblock %}
