{% extends "base.html" %}
{%load bootstrap4%}
{%block linkcss%}

<style>
	body {
		overflow-y: hidden;
	}

	#resetForm {
		align-items: center;
		position: absolute;
		font-family: cursive
	}

	#resetContainer {
		display: flex;
		justify-content: center;

	}

	.bootstrap-select>.dropdown-toggle {
		width: 200%;
	}

	.show {
		width: 600px
	}
</style>
{%endblock%}
{%block content%}
<div id="resetContainer" style="overflow-y: hidden;">

	<div class="container p-5 my-3" id="resetForm"
		style="max-width:700px; border: 2px solid rgb(224 211 211); border-radius:20px">
    <h1>Change Password</h1>
    <form method="POST">
    {%csrf_token%}
    {%bootstrap_form form%}
    <button type="submit" class="btn btn-success">Confirm</button>
</form>
        </div>
</div>
{%endblock%}
