{%extends "base.html" %}

{% load static %}
{% block linkcss%}

<style>
  body {
    overflow-x: hidden;
    background-color: rgb(39, 39, 39);
    color: rgb(95, 93, 93);
  }

  #subContainerIndex {
    align-items: center;
    position: absolute;
    font-family: cursive;
  }

  #mainContainerIndex {
    display: flex;
    justify-content: center;
  }
  
::-webkit-scrollbar{
  width: 12px;

}
::-webkit-scrollbar-thumb{
  background: linear-gradient(transparent,aqua);
  border-radius: 10px;
}
</style>
{% endblock %}

{%block content%}


<div id='mainContainerIndex'>
  <div id='subContainerIndex'>
    <div class="container">

      <div class="row">
        <div class="col-sm-8" style="max-height: 1000px;overflow-y:scroll">
          <div class="pb-2" style="display:flex;justify-content: center; flex-direction: row;">

            <div class="my-2">
              <form class="form-inline" action="/search" method="get">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="query"
                  id="query" style="width:400px;" required>
                <button class="btn btn-outline-light my-2 my-sm-0 ml-2 px-5" type="submit">Search</button>
              </form>
            </div>
          </div>
          <h5>Most Relevent Blogs to Your Interests:-</h5>
          <div class="d-flex flex-row" style="flex-wrap: wrap; ">

            {% for blog in allBlogs %}
            {% if blog.blogpriority == 3 %}
            <div class="" style="width:740px">
              <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                  <strong class="d-inline-block mb-2 text-success">written by {{blog.author}}</strong>
                  <h3 class="mb-0">
                    <a class="text-dark" href="{% url 'blog:showblog' slug=blog.slug %}">{{ blog.title|truncatechars:35 }}</a>
                  </h3>
                  <div class="mb-1 text-muted">{{blog.timestamp}}</div>
                  <div class="preview">
                    <p class="card-text mb-auto">{{ blog.blogpriority }}{{blog.content|safe|truncatechars:170}}</p>
                  </div>
                  <a href="{% url 'blog:showblog' slug=blog.slug %}">Continue reading</a>
                </div>
                <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb"
                  alt="Thumbnail [200x250]"
                  src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20250%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17ca711f406%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17ca711f406%22%3E%3Crect%20width%3D%22200%22%20height%3D%22250%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2256.1953125%22%20y%3D%22131%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                  data-holder-rendered="true" style="width: 240px; height: 300px;">
              </div>
            </div>
            {% endif %}
            {% endfor %}
            {% for blog in allBlogs %}
            {% if blog.blogpriority == 2 %}
            <div class="" style="width:740px">
              <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                  <strong class="d-inline-block mb-2 text-success">written by {{blog.author}}</strong>
                  <h3 class="mb-0">
                    <a class="text-dark" href="{% url 'blog:showblog' slug=blog.slug %}">{{ blog.title|truncatechars:35 }}</a>
                  </h3>
                  <div class="mb-1 text-muted">{{blog.timestamp}}</div>
                  <div class="preview">
                    <p class="card-text mb-auto">{{ blog.blogpriority }}{{blog.content|safe|truncatechars:170}}</p>
                  </div>
                  <a href="{% url 'blog:showblog' slug=blog.slug %}">Continue reading</a>
                </div>
                <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb"
                  alt="Thumbnail [200x250]"
                  src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20250%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17ca711f406%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17ca711f406%22%3E%3Crect%20width%3D%22200%22%20height%3D%22250%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2256.1953125%22%20y%3D%22131%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                  data-holder-rendered="true" style="width:240px; height: 300px;">
              </div>
            </div>
            {% endif %}
            {% endfor %}
            {% for blog in allBlogs %}
            {% if blog.blogpriority == 1 %}
            <div class="" style="width:740px">
              <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                  <strong class="d-inline-block mb-2 text-success">written by {{blog.author}}</strong>
                  <h3 class="mb-0">
                    <a class="text-dark" href="{% url 'blog:showblog' slug=blog.slug %}">{{ blog.title|truncatechars:35 }}</a>
                  </h3>
                  <div class="mb-1 text-muted">{{blog.timestamp}}</div>
                  <div class="preview">
                    <p class="card-text mb-auto">{{ blog.blogpriority }}{{blog.content|safe|truncatechars:170}}</p>
                  </div>
                  <a href="{% url 'blog:showblog' slug=blog.slug %}">Continue reading</a>
                </div>
                <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb"
                  alt="Thumbnail [200x250]"
                  src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20250%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17ca711f406%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17ca711f406%22%3E%3Crect%20width%3D%22200%22%20height%3D%22250%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2256.1953125%22%20y%3D%22131%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                  data-holder-rendered="true" style="width: 240px; height: 300px;">
              </div>
            </div>
            {% endif %}
            {% endfor %}
            {% for blog in allBlogs %}
            {% if blog.blogpriority == 0 %}
            <div class="" style="width:740px">
              <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                  <strong class="d-inline-block mb-2 text-success">written by {{blog.author}}</strong>
                  <h3 class="mb-0">
                    <a class="text-dark" href="{% url 'blog:showblog' slug=blog.slug %}">{{blog.title|truncatechars:35}}</a>
                  </h3>
                  <div class="mb-1 text-muted">{{blog.timestamp}}</div>
                  <div class="preview">
                    <p class="card-text mb-auto">{{ blog.blogpriority }}{{blog.content|safe|truncatechars:170}}</p>
                  </div>
                  <a href="{% url 'blog:showblog' slug=blog.slug %}">Continue reading</a>
                </div>
                <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb"
                  alt="Thumbnail [200x250]"
                  src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20250%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17ca711f406%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17ca711f406%22%3E%3Crect%20width%3D%22200%22%20height%3D%22250%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2256.1953125%22%20y%3D%22131%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                  data-holder-rendered="true" style="width: 240px; height: 300px;">
              </div>
            </div>
            {% endif %}
            {% endfor %}

          </div>
        </div>
        <div class="col-sm-4 bg-transparent">
          <h5>Some Common Interests:--</h5>
          <hr>
          <div class="text-dark d-flex mt-3" style="flex-direction: row; flex-wrap: wrap;">
            <form action="/search" method="get" class="form-inline m-1">
              <input class="form-control" type="hidden" placeholder="Search" aria-label="Search" name="query" id="query"
                value="Python" style="width: 80%;">
              <button class="btn-sm  btn-secondary" type="submit">Python</button>
            </form>
            <form action="/search" method="get" class="form-inline m-1">
              <input class="form-control" type="hidden" placeholder="Search" aria-label="Search" name="query" id="query"
                value="JavaScript" style="width: 80%;">
              <button class="btn-sm  btn-secondary" type="submit">JavaScript</button>
            </form>
            <form action="/search" method="get" class="form-inline m-1">
              <input class="form-control" type="hidden" placeholder="Search" aria-label="Search" name="query" id="query"
                value="Python Flask" style="width: 80%;">
              <button class="btn-sm  btn-secondary" type="submit">Python Flask</button>
            </form>
            <form action="/search" method="get" class="form-inline m-1">
              <input class="form-control" type="hidden" placeholder="Search" aria-label="Search" name="query" id="query"
                value="HTML" style="width: 80%;">
              <button class="btn-sm  btn-secondary" type="submit">HTML</button>
            </form>
            <form action="/search" method="get" class="form-inline m-1">
              <input class="form-control" type="hidden" placeholder="Search" aria-label="Search" name="query" id="query"
                value="C++" style="width: 80%;">
              <button class="btn-sm btn-secondary" type="submit">C++</button>
            </form>
            <form action="/search" method="get" class="form-inline m-1">
              <input class="form-control" type="hidden" placeholder="Search" aria-label="Search" name="query" id="query"
                value="Web Development" style="width: 80%;">
              <button class="btn-sm  btn-secondary" type="submit">Web Development</button>
            </form>
            <form action="/search" method="get" class="form-inline m-1">
              <input class="form-control" type="hidden" placeholder="Search" aria-label="Search" name="query" id="query"
                value="Technology" style="width: 80%;">
              <button class="btn-sm  btn-secondary" type="submit">Technology</button>
            </form>
            <form action="/search" method="get" class="form-inline m-1">
              <input class="form-control" type="hidden" placeholder="Search" aria-label="Search" name="query" id="query"
                value="Django" style="width: 80%;">
              <button class="btn-sm btn-secondary" type="submit">Django</button>
            </form>
            <form action="/search" method="get" class="form-inline m-1">
              <input class="form-control" type="hidden" placeholder="Search" aria-label="Search" name="query" id="query"
                value="PHP" style="width: 80%;">
              <button class="btn-sm  btn-secondary" type="submit">PHP</button>
            </form>
            <form action="/search" method="get" class="form-inline m-1">
              <input class="form-control" type="hidden" placeholder="Search" aria-label="Search" name="query" id="query"
                value="CSS" style="width: 80%;">
              <button class="btn-sm  btn-secondary" type="submit">CSS</button>
            </form>
            <form action="/search" method="get" class="form-inline m-1">
              <input class="form-control" type="hidden" placeholder="Search" aria-label="Search" name="query" id="query"
                value="Machine Learning" style="width: 80%;">
              <button class="btn-sm  btn-secondary" type="submit">Machine Learning</button>
            </form>
            <form action="/search" method="get" class="form-inline m-1">
              <input class="form-control" type="hidden" placeholder="Search" aria-label="Search" name="query" id="query"
                value="Linux" style="width: 80%;">
              <button class="btn-sm  btn-secondary" type="submit">Linux</button>
            </form>
          </div>
          <br>
          <hr>
          <br>
          <br>
          <div>
            <h5>Services:--</h5>
            <button class="btn-sm btn-light mx-1 my-1">Help</button>
            <button class="btn-sm btn-light mx-1 my-1">Top Writers</button>
            <button class="btn-sm btn-light mx-1 my-1">Privacy</button>
            <button class="btn-sm btn-light mx-1 my-1">Terms</button>
            <button class="btn-sm btn-light mx-1 my-1">About Us</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}

{% block linkjs%}
<script src="{% static 'js/previewOfBlog.js'%}"></script>
{% endblock %}