{% block linkcss%}

{% load static%}
<link rel="stylesheet" href="{%static 'css/_post.css'%}">
{%endblock%} 

<div class="post media">
	<h3 style="color:white;font-size: 15px; text-align:left;">{{ post.message_html|safe }}</h3>
	<div class="media-body">
		<strong>&nbsp;&nbsp;&nbsp;&nbsp;author: {{ post.user.username }}</strong>
		<h5 class="media-heading" style="color:black;font-size: 12px;">
			<span class="username">&nbsp;&nbsp;&nbsp;&nbsp;blog handle:<a href="{% url 'posts:for_user' username=post.user.username %}">@{{ post.user.username }}</a></span>
			<time class="time">&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'posts:single' username=post.user.username pk=post.pk %}">{{ post.created_at }}</a></time>
			{% if post.group %}
			<span class="group-name">&nbsp;&nbsp;&nbsp;&nbsp;posted in <a href="#">{{ post.group.name }}</a></span>
			{% endif %}
		</h5>




		<div class="media-footer hg">
			{% if user.is_authenticated and post.user == user and not hide_delete %}
				<a href="{% url 'posts:delete' pk=post.pk %}" title="delete" class="btn btn-simple">
					<span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
					<span class="text-danger icon-label">Delete</span>
				</a>
			{% endif %}
		</div>
		<div class="d-flex flex-row hg">
			<form method="POST" action="{% url 'posts:like' post.pk %}">
				{% csrf_token %}
				<input type="hidden" name="next" value="{{ request.path }}">
				<button style="background-color: transparent; border: none; box-shadow: none;" type="submit">
					<img src="https://i.pinimg.com/originals/39/44/6c/39446caa52f53369b92bc97253d2b2f1.png" width="40px" height="40px">{{ post.likes.all.count }}
				</button>
			</form>
		
			<form method="POST" action="{% url 'posts:dislike' post.pk %}">
				{% csrf_token %}
				<input type="hidden" name="next" value="{{ request.path }}">
				<button style="background-color: transparent; border: none; box-shadow: none;" type="submit">
				<img src="https://image.similarpng.com/very-thumbnail/2020/08/Facebook-dislike-icon-premium-vector-PNG.png" width="30px" height="30px" alt="">	{{ post.dislikes.all.count }}
				</button>
			</form>
		  </div>
	</div>
